/* Styles spécifiques pour les pages user-login et user-register */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header h1,
main h1 {
    text-align: center;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    padding-bottom: 60px; /* Ajoutez un padding équivalent à la hauteur du footer */
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="email"],
form input[type="password"],
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: -60px; /* Ajoutez un margin-top équivalent à la hauteur du footer en négatif */
}
